.formContainer {
  background-color: #f5f5fa;
  padding: 30px;
  text-align: start;
  color: #033669;
  width: 400px;

  .logo {
    margin-bottom: 16px;
  }
  .title {
    margin-bottom: 16px;
  }

  p {
    margin-top: 16px;
  }
}
