.formContainer {
  background-color: #f5f5fa;
  padding: 30px;

  text-align: center;
  color: #033669;

  .logo {
    margin-bottom: 16px;
  }
  .title {
    margin-bottom: 16px;
  }

  p {
    margin-top: 16px;
  }
}
