@import "../../responsive.scss";

.chat {
  flex: 2;
  background-color: #f5f5fa;
  display: flex;
  flex-direction: column;

  .leftSide {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .arrow {
    width: 30px;
    filter: invert(100);
    transition: rotate;

    &:hover {
      cursor: pointer;
    }
  }

  @include tablet {
    flex: 3;
  }

  .chatInfo {
    height: 50px;
    background-color: #6288a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: white;
    font-weight: bold;
  }

  .chatIcons {
    display: flex;
    gap: 10px;

    img {
      height: 24px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
