.navbar {
  background-color: #305875;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  color: white;
  .user {
    display: flex;
    gap: 10px;

    img {
      background-color: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      background-color: #427aa1;
      color: aliceblue;
      border: none;
      font-size: 10px;
      outline: none;
      cursor: pointer;
    }
  }
}
