.errorBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 93, 93, 0.489);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    padding: 32px 32px 40px 32px;
    border-radius: 8px;

    button {
      align-self: flex-end;
      background: transparent;
      border: none;
      opacity: 0.7;
      padding: 5px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        background-color: lightgray;
      }
      img {
        width: 30px;
      }
    }
    img {
      width: 120px;
      opacity: 0.7;
    }
  }
}
