.search {
  border-bottom: 1px solid gray;

  .searchForm {
    padding: 10px;
    input {
      background-color: transparent;
      border: none;
      color: rgb(255, 255, 255);

      &::placeholder {
        color: lightgray;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
