@import "../../responsive.scss";

.sidebar {
  background-color: #346486;
  position: relative;
  max-width: 80vw;

  .arrow {
    width: 24px;
    position: absolute;
    top: 50%;
    right: -12px;
    background-color: #346486;
    padding: 4px;
    border-radius: 50%;
    z-index: 6;
    &:hover {
      cursor: pointer;
    }
  }
  .mobileSidebar {
    background-color: #346486;
  }
}
