.formInput {
  span {
    display: none;
    font-size: 12px;
  }
  input:invalid {
    &.focused {
      border: 1px solid red;
      color: red;
    }
  }

  input:invalid ~ span.focused {
    display: block;
    color: red;
    text-wrap: wrap;
    width: 100%;
  }
}
