$mobile: 480px;
$tablet: 768px;
$pc: 1200px;

@mixin mobile {
  @media screen and (max-width: ($mobile)) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: ($tablet)) {
    @content;
  }
}
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
